/*
480px grid system ~ Core CSS.
1 Columns ~ Margin left: 10px ~ Margin right: 10px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
	min-width: 960px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.container_1
{
	margin-left: auto;
	margin-right: auto;
	width: 480px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 1 Columns
--------------------------------------------------------------------------------*/
.container_12 .grid_1 ,
.container_12 .grid_2 ,
.container_12 .grid_3 ,
.container_12 .grid_4 ,
.container_12 .grid_5 ,
.container_12 .grid_6 ,
.container_12 .grid_7 ,
.container_12 .grid_8 ,
.container_12 .grid_9 ,
.container_12 .grid_10 ,
.container_12 .grid_11 ,
.container_12 .grid_12 {width: 100%;}

/* =Prefix Extra Space >> 1 Columns
--------------------------------------------------------------------------------*/

/* =Suffix Extra Space >> 1 Columns
--------------------------------------------------------------------------------*/

/* `Push Space >> 1 Columns
--------------------------------------------------------------------------------*/

/* `Pull Space >> 1 Columns
--------------------------------------------------------------------------------*/

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
	zoom: 1;
}
