@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('modernpics-webfont.eot');
    src: url('modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('modernpics-webfont.woff') format('woff'),
         url('modernpics-webfont.ttf') format('truetype'),
         url('modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
.symbol{
    font: 18px 'ModernPictogramsNormal', Arial, sans-serif;
}

/* header ----------*/
header{
    height: 50px;
}
/* .logo -----------*/
.logo h1 a{
    color: #000;
    font-weight: bold;
    font: 36px 'Open Sans Condensed', sans-serif;

}
.logo h1 a:hover{
    text-decoration:none
}

.logo em{
    font-size: 16px;
    font-style: italic;
}

.logo img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    margin-top: 10px;
}

/* nav -------------*/
nav{
    line-height: 80px;
    position:relative;
}
.nav-list {
    padding:0;
    margin:0;
    list-style-type:none;
 }
.menu-item {
    margin-left:2px;
    float:left; /*pour IE*/
 }
.menu-item a {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform:uppercase;
    display:block;
    float:left;   
    /*width:100px;*/
    padding: 0 20px;
    text-decoration:none;
    /*text-align:center;*/
    
}

.nav-item a:hover{
    text-decoration: none;
}

.nav-mobile {
        display:none; /* Hide from browsers that don't support media queries */
        cursor:pointer;
        position:absolute;
        top:0;
        right:0;
        background:#000 url(../images/nav-mobile.svg) no-repeat center center;
        height:40px;
        width:40px;
}

/* search ----------*/
.search{
    line-height: 80px;
    background-color: #000;
    color: #fff;
    padding: 0 10px;
}

#search_btn{
    content: "S";
    font: 18px 'ModernPictogramsNormal', Arial, sans-serif;
    background-color: #cccccc;
    border: 0 solid;
}

#search_bar{
    background-color: #fff;
    border: 0 solid;
    font-size: 15px;
}


/* slider ----------*/
.slider{
    position:relative;
    overflow: hidden;
    height: 300px;
    border: solid #000 1px;
}

.slider ul{
    padding:0;
    margin:0;
    list-style-type:none;
}

.slider ul li{
    padding:0;
    margin:0;
}

.carousel{
    padding: 0;
    margin: 0;
}

.carousel-nav{
    position:absolute;
    display:block;
    width:30px;
    height:30px;
    border-radius:15px;
    line-height:30px;
    text-align:center;
    /*font: 20px 'WebSymbolsRegular', Arial, sans-serif;*/
    font-size: 20px;
    font-weight: bold;

    color: #fff;
    background:rgba(0,0,0,0.5);
}
.carousel-nav:hover{
    color: #fff;
    background:rgba(0,0,0,0.5);
    text-decoration:none;
}

#carousel-prev{
    bottom:150px;
    left:20px;
    
}
#carousel-next{
    bottom:150px;
    right:20px;
}
.carousel .title{
    position: absolute;
    background: rgba(0,0,0,0.5);
    height: 80px;
    top: 220px;
    color: #FFF;
    width: 100%;
    padding: 10px 0 10px 10px;
}

.title h3{
    font-size: 16px;
    text-transform:uppercase;
    font-weight: normal;
    color: #FFF;
}
.title a:hover{
    text-decoration:none;
}

/* goto ------------*/
.goto{
    float: right;
    text-align: right;

}
.goto:before{
    font: 18px 'ModernPictogramsNormal', Arial, sans-serif;
    content: "> ";
}

/* bottom ----------*/
.bottom{
    color: #999999;
} 
.bottom h2{
    color: #555555;
    font-size: 14px;
    font-weight: normal;
}
.bottom article div{
    background-color: #dddddd;
    padding: 15px;
    padding-bottom: 30px;
    margin-top: 10px;
}

#screens path{
    fill: #249cd3;
}

/* sub -----------*/
.sub h2{
    font-size: 13px;
    margin: 15px 0;
    text-transform:uppercase;
}
.sub p{
    margin-top: 15px;
}
.headings{
    padding-bottom: 30px;}

#carousel-control{
    padding:0;
    margin:0;
    list-style-type:none;
}

#carousel-control li{
    padding:0;
    margin:0;
}
/* Page
----------*/
#single_title{
    font-size:30px;
}

#single_excerpt{
    font-size: 16px;
    font-style: italic;
    margin: 10px 0 10px 0;
}

#single_tags{

}

#single_content{
    margin: 10px 0 10px 0;
}

