@media (max-width: 979px) {
    body{
        padding: 0;
    }
    .large{
        display: none;
    }
    .navbar .nav > li > a, .search-form{
        width: 100%;
        line-height: 20px;
        color:#FFF;
    }
    .navbar .nav > li > a:hover{
        background-color:#333;
        color: #FFF;
    }
    .collapse{
        background-color: #000;
        color:#FFF;
    }
    .list_item{
        width: 14.8936%!important;
        float: left!important;
        margin-left: 2.12766%!important;
    }
    .list_item h2{
        line-height: 87px;
        font-size: 0.8em;
    }
    .box{
        margin-left: 0;
    }
}