@media (max-width: 979px) {
    .large{
        display: none;
    }
    .navbar .nav > li > a, .search-form{
        width: 100%;
        line-height: 20px;
        color:#FFF;
    }
    .navbar .nav > li > a:hover{
        background-color:#333;
        color: #FFF;
    }
    .collapse{
        background-color: #000;
        color:#FFF;
    }
}